Repository yngtodd/Pilot.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, src, model, data

.github/labeler.yml:

examples:
  - examples/**/*

src:
  - src/**/*

model:
  - src/model/*

data:
  - src/data

Remove whitespace
  src/model/embedding.jl
Labels: src, model

Create CompatHlper.yml
  .github/workflows/CompatHelper.yml
Labels: none

Add docs workflow
  .github/workflows/docs.yml
Labels: none

Create CI workflow
  .github/workflows/ci.yml
Labels: none

Trim whitespace in docstring
  src/data.jl
Labels: src

Remove Pilot from docstring
  src/model/embedding.jl
Labels: src, model

Add dependency to docs
  docs/Project.toml
Labels: none

Testing how the project.toml file works.
  docs/Project.toml
Labels: none

Removing project.toml test
  docs/Project.toml
Labels: none

Update docs deps
  docs/Project.toml
Labels: none

Add compatability params
  Project.toml
Labels: none

Update readme
  README.md
Labels: none

Update example
  examples/embedding.jl
Labels: examples

Add Actions badge
  README.md
Labels: none

Trim whitespace
  src/model/embedding.jl
Labels: src, model

Downgrade Flux version
  Project.toml
Labels: none

CompatHelper: bump compat for "Flux" to "0.11"
  Project.toml
Labels: none
